*.pyc
*.DS_Store
*.svn
*.tmp
*._*
.coverage
.python-version
mediaHandler.sublime-project
mediaHandler.sublime-workspace
*.sublime-project
*.sublime-workspace
TO DOs
test.py
EM_Media_Handler.egg-info/
build/
dist/
deluge/
htmlcov/
