*.pyc
*.DS_Store
*.svn
*.tmp
*._*
*.egg-info/
.eggs/
.coverage
.python-version
mediaHandler.sublime-project
mediaHandler.sublime-workspace
*.sublime-project
*.sublime-workspace
TO DOs
test.py
build/
dist/
deluge/
htmlcov/
docs/_build
docs/_static
docs/_templates
