items:
    - 
        section: General
        options:
            -
                name: keep_files
                type: bool
                default: no
            - 
                name: keep_if_skips
                type: bool
                default: yes
    - 
        section: Deluge
        options:
            -
                name: enabled
                type: bool
                default: no
            -
                name: host
                type: string
                default: 127.0.0.1
            - 
                name: port
                type: number
                default: 58846
            -
                name: user
                type: string
            -
                name: pass
                type: string
            -
                name: remove
                type: bool
                default: yes
    -
        section: Logging
        options:
            -
                name: enabled
                type: bool
                default: yes
            -
                name: level
                type: number
                default: 30
            - 
                name: log_file
                type: file
    - 
        section: Notifications
        options:
            -
                name: enabled
                type: bool
                default: no
            -
                name: notify_name
                type: string
            -
                name: pushover
                type: section
                options: 
                    -
                        name: api_key
                        type: string
                    -
                        name: user_key
                        type: string
            -
                name: pushbullet
                type: section
                options: 
                    -
                        name: token
                        type: string
    - 
        section: TV
        options:
            -
                name: enabled
                type: bool
                default: yes
            -
                name: folder
                type: folder
            -
                name: ignore_subs
                type: bool
                default: yes
            -
                name: format
                type: string
                default: "{n}/Season {s}/{n.space('.')}.{'S'+s.pad(2)}E{e.pad(2)}"
            -
                name: log_file
                type: file
    - 
        section: Movies
        options:
            -
                name: enabled
                type: bool
                default: yes
            -
                name: folder
                type: folder
            -
                name: ignore_subs
                type: bool
                default: yes
            -
                name: format
                type: string
                default: "{n} ({y})"
            -
                name: log_file
                type: file
    - 
        section: Music
        options:
            -
                name: enabled
                type: bool
                default: no
            -
                name: log_file
                type: file
    - 
        section: Audiobooks
        options:
            -
                name: enabled
                type: bool
                default: no
            -
                name: folder
                type: folder
            -
                name: api_key
                type: string
            -
                name: make_chapters
                type: bool
                default: off
            -
                name: chapter_length
                type: number
                default: 8
